/* Verify.module.scss */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    overflow: hidden;
}

.avatar {
    background-color: #2575fc;
    border-radius: 50%;
    padding: 12px;
    margin-bottom: 20px;
    display: inline-block;
}

.title {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formGroup {
    text-align: left;

    input {
        width: 100%;
        padding: 12px;
        margin-top: 8px;
        border-radius: 8px;
        border: 1px solid #ccc;
        font-size: 16px;
        transition: border 0.3s ease;
    }

    input:focus {
        border: 1px solid #2575fc;
        outline: none;
    }
}

.submitBtn {
    width: 100%;
    padding: 12px;
    background-color: #272727;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitBtn:hover {
    background-color: #333;
}

.linkContainer {
    margin-top: 20px;
}

.linkContainer a {
    text-decoration: none;
    color: #2575fc;
    font-weight: bold;
    font-size: 16px;
}

.linkContainer a:hover {
    text-decoration: underline;
}