// Global Colors
$primary-clr: #3A53D2;
$primary-lite-clr: #E9EBFA;
$heading-clr: #1E1E1E;
$text-clr-1: #303030;
$text-clr-2: #393939;
$text-clr-3: #404040;
$text-clr-4: #6D6D6D;
$text-clr-5: #9a9a9a;
$text-clr-6: #c7c7c7;
$text-clr-7: #dddddd;
$text-clr-8: #f2f2f2;
$black: #1e1e1e;
$white: #fff;
$danger-clr: #BA1A1A;
// units
$base-font: 16px;
$base-font-medium: 14px;
$base-unit: 16px;
$base-padding: 16px;
$base-margin: 16px;